<div class="container">
  <div layout="row" layout-sm="column">
    <div flex="30">
    <md-toolbar layout="row" class="md-hue-3">
      <div class="md-toolbar-tools">
        <span>Conversations</span>
      </div>
    </md-toolbar>
      <md-list class="md-dense" flex>
        <md-list-item class="md-3-line" ng-click="null">
          <img ng-src="{{item.face}}?{{$index}}" class="md-avatar" alt="{{item.who}}" />
          <div class="md-list-item-text" layout="column">
            <h3>From: Atlante</h3>
            <h4>sent at 3:30pm</h4>
          </div>
        </md-list-item>
        <md-list-item class="md-3-line" ng-click="null">
          <img ng-src="{{item.face}}?{{$index}}" class="md-avatar" alt="{{item.who}}" />
          <div class="md-list-item-text" layout="column">
            <h3>From: Atlante</h3>
            <h4>sent at 3:30pm</h4>
          </div>
        </md-list-item>
        <md-list-item class="md-3-line" ng-click="null">
          <img ng-src="{{item.face}}?{{$index}}" class="md-avatar" alt="{{item.who}}" />
          <div class="md-list-item-text" layout="column">
            <h3>From: Atlante</h3>
            <h4>sent at 3:30pm</h4>
          </div>
        </md-list-item>
      </md-list>
    </div>
    <div flex="68">
      <md-toolbar layout="row" class="md-hue-2">
        <div class="md-toolbar-tools">
          <span>Conversations</span>
        </div>
      </md-toolbar>
        <md-list-item class="md-3-line" ng-click="null">
          <img ng-src="{{item.face}}?{{$index}}" class="md-avatar" alt="{{item.who}}" />
          <div class="md-list-item-text" layout="column">
            <h3>Hey there, I love your great dane!</h3>
            <h4>sent at: 3:30pm</h4>
            <p>Hey, I'm Jess, I love great danes also! Would you be interested in connecting our dogs at the park down the street from us?</p>
          </div>
        </md-list-item>

    </div>
  </div>
</div> <!-- closes container -->
